.display-img {
  background-color: aquamarine;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heading {
  border: 1px solid black;
  height: 100px;
  width: 300px;
  background-color: royalblue;
}

.box-heading{
    font-size: 20px;
}
